<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>Codiary 시작</title>

    <!-- Required meta tags!! -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href=" https://full-mini.github.io/Codiary/templates/style.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!--<link rel="stylesheet" href=" https://full-mini.github.io/Codiary/templates/style.css">-->
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://kit.fontawesome.com/b47588dd55.js" crossorigin="anonymous"></script>
    <!-- JS -->
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- 글쓰기 에디터 관련 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

<!-- 깃헙 main에서 CSS 가져오기-->
    <!--<link rel="stylesheet" href=" https://full-mini.github.io/Codiary/templates/style.css">-->

<!-- 로컬에서 CSS 가져오기-->
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>

    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: '내용을 입력해주세요.',
                tabsize: 6,
                height: 300,
                toolbar: [
			    // [groupName, [list of button]]
			    ['fontname', ['fontname']],
			    ['fontsize', ['fontsize']],
			    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			    ['color', ['forecolor','color']],
			    ['table', ['table']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert',['picture','link','video']]
			  ],
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
            });
        });
    </script>


    <script>
        const today = toStringByFormatting(new Date(),',')
        let id_data = {{ data.id|tojson }}

            $(document).ready(function () {
            show_comment();
        });



            function leftPad(value) {
                if (value >= 10) {
                    return value;
                }

                return `0${value}`;
            }

        function toStringByFormatting(source, delimiter = '-') {
            const year = source.getFullYear();
            const month = leftPad(source.getMonth() + 1);
            const day = leftPad(source.getDate());

            return [year, month, day].join(delimiter);
        }
                //트위터 공유하기

            function sharetwitter() {#}
                const btnShareTw = document.querySelector('#shareTw');
                btnShareTw.addEventListener('click', () => {
                    let sendUrl = "naver.com";
                    let sendText = "공유 테스트"
                    window.open(`https://twitter.com/intent/tweet?text=${sendText}&url=${pageUrl}`);
                })
                //페이스북 공유하기
                const btnShareFb = document.querySelector('#shareFb');

                btnShareFb.addEventListener('click', () => {
                    const pageUrl = 'news.v.daum.net/v/20220319120213003';
                    window.open(`http://www.facebook.com/sharer/sharer.php?u=${pageUrl}`);
                })
                //카카오톡 공유하기
                Kakao.init('7daa7d5fef046cea4ec3b64870f2c4d3');

                Kakao.Link.createCustomButton({
                    container: '#shareKt',
                    templateId: 78517, // 나의 앱 ID 작성
                });

                $(document).ready(function () {
                    $('#todo-input').keydown(function (key) {
                        if (key.keyCode == 13) {
                            add_todo()
                        }
                    });
                });


                function toStringByFormatting(source, delimiter = '-') {
                    const year = source.getFullYear();
                    const month = leftPad(source.getMonth() + 1);
                    const day = leftPad(source.getDate());

                    return [year, month, day].join(delimiter);
                }

                // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
                function logout() {
                    $.removeCookie('mytoken');
                    alert('로그아웃!')
                    window.location.href = '/login'
                }

                function save_comment() {
                    let title = $('#context-title').val()
                    let comment = $('#context-main').val()
                    let id = id_data
                    let date = today

                    $.ajax({
                        type: 'POST',
                        url: '/upload',
                        data: {title_give: title, comment_give: comment, id_give: id, date_give: date},
                        success: function (response) {
                            console.log(response)
                            alert(response['msg'])
                            window.location.reload()
                        }
                    })
                }


                function more_context(num) {
                    if (document.getElementsByClassName("more_bt")[num].style.display == 'block') {
                        if (typeof open_note == "number") {
                            document.getElementsByClassName("card-text")[open_note].style.height = "72px";
                            document.getElementsByClassName("card-text")[open_note].style.display = "-webkit-box";
                            document.getElementsByClassName("more_bt")[open_note].style.display = "block";
                            document.getElementsByClassName("hide_bt")[open_note].style.display = "none";
                            document.getElementsByClassName("edit_bt")[open_note].style.display = "none";
                            document.getElementsByClassName("del_bt")[open_note].style.display = "none";
                        }
                        document.getElementsByClassName("card-text")[num].style.height = "100%";
                        document.getElementsByClassName("card-text")[num].style.display = "block";
                        document.getElementsByClassName("more_bt")[num].style.display = "none";
                        document.getElementsByClassName("hide_bt")[num].style.display = "block";
                        document.getElementsByClassName("edit_bt")[num].style.display = "block";
                        document.getElementsByClassName("del_bt")[num].style.display = "block";
                        open_note = num;
                    } else {
                        document.getElementsByClassName("card-text")[num].style.height = "72px";
                        document.getElementsByClassName("card-text")[num].style.display = "-webkit-box";
                        document.getElementsByClassName("more_bt")[num].style.display = "block";
                        document.getElementsByClassName("hide_bt")[num].style.display = "none";
                        document.getElementsByClassName("edit_bt")[num].style.display = "none";
                        document.getElementsByClassName("del_bt")[num].style.display = "none";
                    }
                }


                function show_comment() {
                    $.ajax({
                        type: "GET",
                        url: "/getcomment",
                        data: {},
                        success: function (response) {
                            let rows = response['comments']
                            for (let i = 0; i < rows.length; i++) {
                                console.log(rows[i])
                                let title = rows[i]['title']
                                let comment = rows[i]['comment']
                                let date = rows[i]['date']
                                let count = rows[i]['count']
                                let temp_html = `
                        <div class="card border-dark mb-3" style="width:65rem;">
        <div class="card-header">
            <!-- 노트 상단 왼쪽 -->
            <div class="note-top-day ml-2">Note ${count}</div>
            <!-- 노트 상단 오른쪽 -->
            <div class="note-top-title ml-2">
                <div>${date}</div>
                <div>${title}</div>
            </div>
        </div>
        <div class="card-body text-dark note-bottom">
            <!-- 노트 내용이 들어가는 부분 -->
            <div class="card-text ml-1 mr-1">
                ${comment}
            </div>
            <!-- 노트 버튼 (수정/삭제/감추기/더보기) -->
            <div class="note-button ml-3 mt-2">
                <button type="button" class="edit_bt btn btn-primary ml-1" style="display:none"><i
                        class="fa-solid fa-pen"></i> 수정
                </button>
                <button type="button" class="del_bt btn btn-danger ml-1" style="display:none"><i
                        class="fa-solid fa-trash-can"></i> 삭제
                </button>
                <button type="button" class="more_bt btn btn-secondary ml-1" onclick="more_context(${count})"
                        style="display:block"><i class="fa-solid fa-caret-down"></i> 더보기
                </button>
                <button type="button" class="hide_bt btn btn-secondary ml-1" onclick="more_context(${count})"
                        style="display:none"><i class="fa-solid fa-caret-up"></i> 감추기
                </button>
            </div>
        </div>
    </div>`
                                $('#comment-list').append(temp_html)
                            }


                        }
                    });
                }


                function delet_todo(num) {
                    /*              array에서 삭제한다.
            전체를 비운다.
            for문으로 다시 작성한다.
            */
                }

                function add_todo() {
                    if (writing) {
                        let todo_text = ($('#todo-input').val()).trim()

                        if (todo_text != "") {
                            let temp_html = `<li class="list-group-item">
                                    <strong class="list-group-item-context">${todo_text}</strong>

                                    <div class="list-group-item-bts">
                                    <button type="button" class="btn btn-danger" onclick="delet_todo(${array_num})">삭제</button>
                                    </div>

                                    </li>`
                            $.ajax({});
                            array_todo.push(todo_text)
                            array_num += 1
                            console.log(array_num, array_todo)
                            $('#todo-input').val('');
                            $('#list-group').append(temp_html);
                            alert("To-do 리스트에 추가 되었습니다.")
                            $('#todo-input').focus();
                        }
                    }
                }
                //차순 정렬
                console.log(data.sort(date_ascending)); // 오름차순
                function date_ascending(a, b) {
                    var dateA = new Date(a['날짜']).getTime();
                    var dateB = new Date(b['날짜']).getTime();
                    return dateA > dateB ? 1 : -1;
                };
                console.log(data.sort(date_descending)) // 내림차순
                function date_descending(a, b) {
                    var dateA = new Date(a['날짜']).getTime();
                    var dateB = new Date(b['날짜']).getTime();
                    return dateA < dateB ? 1 : -1;
                };
            }


    </script>

</head>

<body>

<nav>
    <h1> {{data.nick}}님의 CODIARY</h1>
    <button class="button is-danger" onclick="logout()">로그아웃하기</button>
</nav>
<main id="comment-list" >
    <div class="main-box">
        <div class="share_btn"><button type="button" onclick="sharetwitter()" class="btn_comm">트위터로 공유하기</button>
            <button type="button" id="shareFb" onclick="sharefacebook()" class="btn_comm">페이스북으로 공유하기</button>
            <button type="button" id="shareKt" onclick="sharekakaotalk()" class="btn_comm">카카오톡으로 공유하기</button>
            <div class="search-box d-flex justify-content-center">
                <input id="input-word" class="form-control" style="margin-right: 0.5rem">
                <button class="btn btn-light" onclick="find_word()"><i class="fa-solid fa-magnifying-glass"></i></button></div>

</div>
</div>


<footer>
    <div class="add_note"><button type="button" class="btn btn-primary" id="btn-modal">새 노트 쓰기</button></div>
</footer>

</main>


<footer>
    <!-- 게시물 쓰기 버튼, 클릭시 모달 창 띄움 -->
    <!-- 모달 창 설정 -->
    <div class="write-area">
        <div class="d-grid gap-2 add_note js-click">
            <button type="button" class="btn btn-primary" id="btn-modal">새 노트 쓰기</button>
        </div>
        <div class="write-modal">
            <div class="write-header">
                <div class="write-nav">
                    <div class="todo-area form-floating">
                        <input type="text" class="form-control todo-input" id="todo-input" placeholder="todo"
                               style="ime-mode:active;">
                        <label for="todo-input">오늘 할 일을 우선 계획해보세요!</label>
                        <button type="button" class="btn btn-success ml-2" onclick="add_todo()">추가</button>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group mt-1" id="list-group">

                        </ul>
                    </div>
                </div>
                <div class="write-body">
<!-- 에디터 소스-->
                    <form method="post" class="form-floating mt-2 mb-2" action="">
                        <input type="text" name="subject" class="form-control" id="context-title" placeholder="title">
                        <label for="context-title">제목</label>
                    </form>
                    <textarea id="summernote" name="memo"></textarea>

                </div>
            </div>
            <div class="write-footer">
                <div class="write-complete">
                    <button type="button" class="btn btn-success mt-2" onclick="save_comment()">작성하기</button>
                </div>
                <div class="js-close">
                    <button type="button" class="btn btn-danger mt-2">닫기</button>
                </div>
            </div>
        </div>
    </div>




    <script>

        //<!-- 모달창: 자동높이 늘리기 -->
        $('#summernote').on('summernote.keyup', function(we, e) {
                var innerHeight = $('.note-editable').innerHeight();
                var scrollHeight = $('.note-editable').prop('scrollHeight');

                if (innerHeight < scrollHeight) {
                    $('.note-editable').css('height', 12 + $('.note-editable').prop('scrollHeight') + 'px');
                }
        });

       // <!-- 모달창: 열기 / 닫기 버튼 (닫을 경우 내용 초기화 기능) -->
        $('.js-click').click(function () {
            $('.write-area').addClass('modal-open');
            $("html").css('overflow-y', 'hidden');
            $(".write-footer").css('display', 'flex');

            writing = true;
        });

        $('.js-close').click(function () {
            if ($('#context-title').val() != '' || !($('#summernote').val() == '' || $('#summernote').val() == '<p><br></p>')  || array_todo.length != 0) {
                if (confirm("작성중이던 내용이 있습니다. 그래도 닫으시겠습니까?")) {
                    $(".write-footer").css('display', 'none');
                    $('.write-area').removeClass('modal-open');
                    $("html").css('overflow-y', 'auto');
                    $(".write-body textarea").css('height', '150');
                    $('#context-title').val('');
                    $('#todo-input').val('');
                    $('#summernote').summernote('reset');
                    const todo_parent = document.querySelector(".list-group");
                    array_todo = [];
                    array_num = 0;
                    while (todo_parent.hasChildNodes()) {	// 부모노드가 자식이 있는지 여부를 알아낸다
                        todo_parent.removeChild(todo_parent.firstChild);
                    }
                    writing = false;
                }
            } else {
                $('.write-area').removeClass('modal-open');
                $("html").css('overflow-y', 'auto');
                $(".write-footer").css('display', 'none');
                writing = false;
            }
        });

    </script>

</footer>

</body>
</html>